@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;700&display=swap");

:root {
  --accent-colour: #00aa41;
  --accent-colour-dark: #005423;
  --accent-colour-secondary: #0c3800;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;

  background-color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.monospace {
  font-family: "Spline Sans Mono", monospace;
}

#hero {
  display: flex;
  padding: 4em;
  width: 100%;
  display: grid;

  grid-template-columns: auto auto;
}

#hero-left {
  max-height: 25%;
  text-align: left;
  color: white;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  white-space: nowrap;

  padding-top: 4em;
}

#hero-right {
  max-height: 25%;
  text-align: left;
  color: white;

  display: flex;
  justify-content: end;
  align-content: end;
  flex-direction: column;
  white-space: nowrap;

  padding-top: 4em;
}

#bigName {
  font-weight: bolder;
  font-size: 5rem;
  color: inherit;
  text-transform: uppercase;
}

#subName {
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  text-transform: lowercase;
}

.glow {
  text-shadow: 0 0 42px var(--accent-colour), 0 0 82px var(--accent-colour),
    0 0 92px var(--accent-colour), 0 0 102px var(--accent-colour),
    0 0 151px var(--accent-colour);
  color: white;
}

.glow-dim {
  text-shadow: 0 0 42px var(--accent-colour), 0 0 82px var(--accent-colour),
    0 0 92px var(--accent-colour);
  color: white;
}

#buttonsRow {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  gap: 1rem;

  margin-top: 0.5em;

  float: right;
}

.socialButton {
  font-weight: 300;
  font-size: 2rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  flex-grow: 1;

  transition: 0.3s;
}

.socialButton:hover {
  color: #fff;
  text-shadow: 0 0 21px #fff, 0 0 42px var(--accent-colour),
    0 0 82px var(--accent-colour), 0 0 92px var(--accent-colour),
    0 0 102px var(--accent-colour), 0 0 151px var(--accent-colour);
}

a.noStyle {
  text-decoration: none;
  color: inherit;
}

.text-white {
  color: white;
}

a.glow-hover {
  transition: 0.3s;
}

a.glow-hover:hover {
  color: #fff;
  text-shadow: 0 0 21px #fff, 0 0 42px var(--accent-colour),
    0 0 82px var(--accent-colour), 0 0 92px var(--accent-colour),
    0 0 102px var(--accent-colour), 0 0 151px var(--accent-colour);
}

.container {
  height: 100%;
  padding-top: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  color: #ffffff;
}

#summary {
  width: 100%;
  padding: 4em;
  display: grid;
  color: white;

  gap: 2em;

  grid-template-columns: auto auto auto auto;
}

#projects {
  width: 100%;
  padding: 4em;
  color: white;
}

#projects-grid {
  width: 100%;
  display: grid;
  color: white;

  gap: 2em;

  grid-template-columns: auto auto;
}

#projects-grid > div {
  padding-right: 2em;
}

body {
  background: linear-gradient(
    199deg,
    var(--accent-colour-dark),
    var(--accent-colour-secondary),
    #202020
  );
  background-size: 600% 600%;

  -webkit-animation: BackgroundGradient 14s ease infinite;
  -moz-animation: BackgroundGradient 14s ease infinite;
  animation: BackgroundGradient 14s ease infinite;
}

.upper {
  text-transform: uppercase;
}

.fs-2 {
  font-size: 2rem;
}

.fs-1p5 {
  font-size: 1.5rem;
}

@-webkit-keyframes BackgroundGradient {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}
@-moz-keyframes BackgroundGradient {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}
@keyframes BackgroundGradient {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}

/* Mobile media queries */
@media screen and (max-width: 600px) {
  #hero {
    grid-template-columns: auto;
    padding-left: 1em;
    gap: 4em;
    padding-top: 0;
    width: 100vw;
  }

  #bigName {
    font-size: 3rem;
  }

  #subName {
    font-size: 1rem;
  }

  #hero-left {
    padding: none;
  }

  #hero-right {
    padding: 0;
  }

  #buttonsRow {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
    gap: 1rem;

    margin-top: 0.5em;

    float: right;
  }

  #buttonsRow > div > a {
    font-size: 4rem;
  }

  .buttontext {
    display: none;
  }

  #hero-right {
    justify-content: left;
    display: grid;
  }

  #summary {
    padding: 2em;
    grid-template-columns: auto;
  }

  #summary > div {
    padding-right: 5em;
  }

  #projects {
    padding: 2em;
  }

  #projects-grid {
    grid-template-columns: auto;
  }

  #projects-grid > div {
    padding-right: 5em;
  }
}
