@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html
{
  scroll-behavior: smooth;
}

*
{
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

:root
{
  --primary: #800000;
  --secondary: #1c1c1c;
}

.bg-maroon
{
  background-color: var(--primary);
}

#header
{
  color: white;
}

div.icons > div.row > div.col
{
  font-size: 3em;
  transition: 0.2s;
}

div.icons > div.row > div.col:hover
{
  cursor: pointer;
}

.icon-text
{
  display: none;
  font-size: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  color: var(--primary);
  font-weight: 700;
}

ul#worklist,
ul#edulist,
ul#projlist
{
  list-style-type: none;
  padding: 0;
}

div.experience
{
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid rgba(28, 28, 28, 0.25);
  margin-bottom: 2em;
}

div.experience span.title,
div.experience span.skills
{
  font-weight: 700;
  font-size: 1.17em;
  color: var(--primary);
  display: block;
}

div.experience span.company,
div.experience span.school
{
  font-weight: 700;
  font-size: 1em;
  color: var(--secondary);
  display: block;
}

div.experience span.duration
{
  font-weight: 700;
  font-size: 1em;
  color: var(--secondary);
  display: block;
}

a,
.link
{
  color: #28a9ff;
}

.link:hover
{
  cursor: pointer;
}

section
{
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

#headshot
{
  border-radius: 50%;
  box-shadow: 5px 5px 0px 0px rgba(28, 28, 28, 1);
  margin-bottom: 2em;
}

.link.repo
{
  margin-left: 0.5em;
}

.grid
{
  display: grid;
  grid-template-rows: auto;
  /* grid-auto-flow: column;
   */
  grid-template-columns: auto auto auto;
  gap: 1em;
}

.service
{
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid rgba(28, 28, 28, 0.25);
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

span.service-amount::before
{
  content: "€";
}

span.service-amount
{
  color: var(--primary);
  font-size: 2em;
  align-self: flex-end;
}

span.service-amount-text
{
  display: inline-block;
  margin-left: 0.5em;
  color: var(--secondary);
  font-size: 0.75em;
  font-style: italic;
  align-self: flex-end;
}

.mb-auto
{
  margin-bottom: auto;
}

.w-75
{
  width: 75%;
}

.lang
{
  font-weight: bold;
}

.lang.link
{
  font-weight: inherit;
}

.experience.work:not(.past),
.experience.edu:not(.past)
{
  border-top: .75em solid var(--primary);
}

.experience.work.past,
.experience.edu.past
{
  opacity: .8;
}

.row
{
  display: grid;
  grid-auto-flow: column;
}

@media screen and (max-width: 768px)
{
  .grid
  {
    grid-template-columns: 1fr;
    gap: 0;
  }


  .icon-text
  {
    display: block;
  }

}